*{
    margin: 0;
    padding: 0;
}

h2{
    margin-left: 25px;
}
.container_inscription{
    background-color: #2ca5f8 ;
    margin-top: 30px;
    width: 350px;
    height: 650px;
    margin-left: 650px;
    border-radius: 15px;
    
}
form{
    margin-left: 50px;
    margin-top: 15px;
    
}
label{
    color: black;
    font-size: 15px;
}
input{
    height: 25px;
    width: 225px;
    border-radius: 8px;
}
.submit{
    width: 100px ;
    margin-left: 150px;
    cursor: pointer;
}
button{
    height: 25px;
    width: 225px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: black;
}